body{
    background-image: url(./pictures/bg.jpg);
    background-size: cover;
    background-position: center;
    >main{
        background-image: url(./pictures/bg.jpg);
    }
}
img{
    height: 3rem;
}