@import url(https://necolas.github.io/normalize.css/latest/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

html {
  height: 100%;
  position: relative;
}

/* background and global rules */
body {
  height: 100%;
  background-image: url(./pictures/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1rem;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.363);
}

/* positioning of main */
main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  padding-top: 15%;
}

/* borders */
#logo,
nav > div {
  border: 1px solid white;
}
.middleLine > div:first-child {
  border-right: 1px solid white;
  margin: 0;
  height: 3rem;
  width: 100%;
}
.hero {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 10rem;
}

/* gem logo */
#logo {
  border-radius: 50%;
  padding: 4%;
  display: flex;
}
img {
  height: 2rem;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.hero > h1 {
  letter-spacing: 0.15rem;
  font-weight: 500;
}
.hero > p {
  text-align: start;
  padding-top: 0.5rem;
  line-height: 2rem;
}
a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
  transition: 300ms;
}
a:hover {
  color: rgb(125, 160, 214);
  border-bottom: 1px dotted rgb(125, 160, 214);
}

/* navigation section */
nav {
  width: 100%;
}
nav > div {
  width: 100%;
  transition: 500ms;
}
nav > div:hover {
  background-color: rgba(255, 255, 255, 0.205);
  cursor: pointer;
}
nav > div:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
nav > div:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* tab section */
#tab {
  position: relative;
  background-color: rgba(28, 27, 34, 0.74);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5% 8%;
  margin: 2rem 5%;
  gap: 1rem;
}
#tab > button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  right: 1%;
  top: 1%;
  border: none;
  transition: 500ms;
}
#tab > button:hover{
  rotate: 90deg;
  cursor: pointer;
}
#tab > button > img{
  height: 3rem;
}
#tab > h1 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.8rem;
  border-bottom: 1px solid white;
  line-height: 5rem;
}
#tab > img,video {
  width: 100%;
  height: 60%;
  object-fit: cover;
  max-height: 350px;
}

#tab > p{
  text-align: start;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

/* desktop section */
@media (min-width: 900px) {
  main {
    padding-top: 0;
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }

  /* logo part */
  #logo {
    padding: 2.5rem;
  }
  img {
    height: 4.5rem;
  }

  /* middle vertical line  */
  .middleLine > div:first-child {
    height: 4rem;
  }
  /* hero part */
  .hero {
    width: 98%;
    height: 15rem;
  }
  .hero > h1 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
  .hero > p {
    text-align: center;
    line-height: 3rem;
  }

  /* navigation part */
  nav {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
  }
  nav > div {
    padding: 0.8rem;
    min-width: 140px;
  }
  nav > div:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
  nav > div:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
  #tab{
    margin: 30px 10%;
    padding: 1% 4%;
    max-width: 1000px;
    gap: 2rem;
  }
  #tab > img,video {
    object-position: center;
  }
}